modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "gce"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["stripe:1.0.0", "github:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 4200

[[ports]]
localPort = 18115
externalPort = 3000

[[ports]]
localPort = 18116
externalPort = 5000

[[ports]]
localPort = 18522
externalPort = 3001

[[ports]]
localPort = 21081
externalPort = 5173

[[ports]]
localPort = 22333
externalPort = 3002

[[ports]]
localPort = 25369
externalPort = 3003

[nix]
channel = "stable-25_05"
packages = ["eas-cli"]

[userenv]

[userenv.shared]
REVENUECAT_PROJECT_ID = "proj35a17237"
REVENUECAT_TEST_STORE_APP_ID = "appb6a72c431f"
REVENUECAT_APPLE_APP_STORE_APP_ID = "appbefcd6711f"
REVENUECAT_GOOGLE_PLAY_STORE_APP_ID = "appb3206a8382"
EXPO_PUBLIC_REVENUECAT_TEST_API_KEY = "test_ASdPvJehdfeDSGPJiUQHmqGFhnv"
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY = "appl_evRvvCBBMxNrhJJKrqQELZrxeJv"
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY = "goog_YtlteQfYyxtiWoOvOylWcxKaIBk"
EXPO_PUBLIC_ADMIN_EMAILS = "tlindsay428@yahoo.com"
ADMIN_EMAILS = "tlindsay428@yahoo.com"
REQUIRE_APPROVAL = "true"
DOCUSIGN_INTEGRATION_KEY = "a15792cf-2567-4769-8372-7cd19777218b"
DOCUSIGN_ACCOUNT_ID = "48881408"
DOCUSIGN_BASE_URL = "https://demo.docusign.net/restapi"
DOCUSIGN_AUTH_URL = "https://account-d.docusign.com"
